<footer id="footer">
    <div class="container">
        <div class="row copyright">
            <div class="col-md-12">
                <p class="pull-left">
                    <small class="block" style="padding-bottom: 8px;">&copy; 2024 GymSenApp. Todos los derechos reservados.</small> 
                    <!-- <small class="block">Diseñado por <a href="https://co.linkedin.com/in/marco-antonio-ort%C3%ADz-ram%C3%ADrez-6b41a5268" target="_blank" style="color: #65a124;">Marco Antonio Ortíz Ramírez</a>, <a href="http://unsplash.com/" target="_blank" style="color: #65a124;">Mariana Lizeth Marín Rojas</a>, <a href="http://freehtml5.co/" target="_blank" style="color: #65a124;">Santiago Salamanca Díaz</a></small> -->
                    <!-- <small class="block">Designed by <a href="http://freehtml5.co/" target="_blank" style="color: #65a124;">FreeHTML5.co</a> Demo Images: <a href="http://unsplash.com/" target="_blank" style="color: #65a124;">Unsplash</a></small> -->
                </p>
            </div>
        </div>
    </div>
</footer>
