<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado usuarios</title>
</head>
<body>
  <app-navbars></app-navbars>
    <!-- <div class="navbar">
      <img src="../../../../assets/images/Logo_GsA-removebg-preview.png" class="logo">
      <ul>
          <li><a routerLink="../home">Inicio</a></li>
          <li><a routerLink="../anuncios">Anuncios</a></li>
          <li><a routerLink="../recomendaciones">Recomendaciones</a></li>
          <li><a routerLink="../admin">Mis actividades</a></li>
          <li id="liFinLinea"><a (click)="this.sessionStorageService.clear()">Cerrar Sesion</a></li>
      </ul>
    </div> -->
    
    <section id="Admin_usuarios">
		<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-8 heading">
					<h1>Listado de usuarios</h1>
					<p class="sub-doub">En este espacio tiene completo acceso a la lista de usuarios registrados en el sistema</p>
          <p class="sub">Puede actualizar información si así lo requiere...</p>
				</div>
			</div>
			<div class="row">
				<div class="cont-r">
          <div class="form-group">
            <select class="form-control op" placeholder="Buscar" id="estado_user" name="busquedaFiltrar" [(ngModel)]="busquedaFiltrar" (ngModelChange)="buscarTodos()" required>
              <option value="" disabled="disabled">Buscar</option>
              <option value="todos">Todos los registros</option>
              <option value="id">Identificación</option>
              <option value="nombre">Nombre y Apellido</option>
              <option value="rol">Rol</option>
            </select>
            <input type="number" *ngIf="busquedaFiltrar == 'id'" class="form-control ini" placeholder="Digite el número de identificación del usuario a buscar" id="filtroId" name="filtrarId" [(ngModel)]="filtrarId" (input)="buscarId()">
            <input type="text" *ngIf="busquedaFiltrar == 'nombre'" class="form-control ini" placeholder="Digite el primer nombre y primer apellido del usuario a buscar" id="filtroId" name="filtrarNombre" [(ngModel)]="filtrarNombre" (input)="buscarNombre()">
            <!-- <select class="form-control op" placeholder="Seleccione el rol a buscar" id="estado_user" name="filtrarRol" [(ngModel)]="filtrarRol" (input)="buscarRol()" required>
              <option value="" disabled="disabled">Seleccione el rol a buscar</option>
              <option value="1">Administrador</option>
              <option value="2">aprendiz</option>
              <option value="3">Instructor</option>
            </select> -->
            <select *ngIf="busquedaFiltrar == 'rol'" class="form-control op" placeholder="Seleccione el rol a buscar" id="estado_user" name="filtrarRol" [(ngModel)]="filtrarRol" (ngModelChange)="buscarRol()" required>
              <option value="" disabled="disabled">Seleccione el rol a buscar</option>
              <option *ngFor="let rol of tiposusuarios | async" value='{{rol.cod_tipo_user}}'>{{rol.tipo_user}}</option>
            </select>
          </div>
          <table id="lista_asistencia">
            <thead>
              <tr>
                <th class="col">Identificación</th>
                <th class="col">Tipo de usuario</th>
                <th class="col">P.nombre</th>
                <th class="col">P.apellido</th>
                <th class="col">S.apellido</th>
                <th class="col asist_correo">Correo</th>
                <th class="col">Antecedentes #1</th>
                <th class="col">Antecedentes #2</th>
                <th class="col">Estado del usuario</th>
                <th class="col asist_acciones">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let usuario of usuarios$ | async">
                <td class="tds">{{ usuario.id_user }}</td>
                <td class="tds">{{ usuario.tipo_user }}</td>
                <td class="tds">{{ usuario.nom1_user }}</td>
                <td class="tds">{{ usuario.ape1_user }}</td>
                <td class="tds">{{ usuario.ape2_user }}</td>
                <td class="tds">{{ usuario.correo_sena_user }}</td>
                <td class="tds">{{ usuario.fk_anteced_salud_sel }}</td>
                <td class="tds">{{ usuario.anteced_salud_inp }}</td>
                <td class="tds">{{ usuario.estado_user }}</td>
                <td class="tds"><a [routerLink]="['../usuarios_edicion/', usuario.id_user]"><button type='button' class='btn btn-update'>Editar</button></a></td>
              </tr>
            </tbody>
          </table>
				</div>
			</div>
		</div>
	</section>
  <app-footer></app-footer>
</body>
</html>