<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planificador</title>
</head>
<body>
  <app-navbars></app-navbars>
    <!-- <div class="navbar">
      <img src="../../../../assets/images/Logo_GsA-removebg-preview.png" class="logo">
      <ul>
          <li><a routerLink="../home">Inicio</a></li>
          <li><a routerLink="../anuncios">Anuncios</a></li>
          <li><a routerLink="../recomendaciones">Recomendaciones</a></li>
          <li><a routerLink="../aprendiz">Mis actividades</a></li>
          <li id="liFinLinea"><a (click)="this.sessionStorageService.clear()">Cerrar Sesion</a></li>
      </ul>
    </div> -->

    <section id="Planificador">
      <div class="container">
        <div class="row row-pb-md">
          <div class="col-md-8 heading">
            <h1>Planificador de ejercicios</h1>
            <p class="sub-doub">En este espacio, el sistema le mostrará los ejercicios y máquinas de nuestro gimnasio que puede usar para trabajar en los músculos que desee entrenar.</p>
            <p class="sub">Le invitamos a que en la parte inferior seleccione los músculos que le gustaría fortalecer, para que el sistema le muestre qué ejercicios y máquinas puede usar para cumplir con ese objetivo.</p>
            <p class="subtle-text">Planificador</p>
          </div>
        </div>
        <div class="row">
          <div class="cont-r">
            <form (ngSubmit)="onSubmit()" #planificadorForm="ngForm">
              <div class="form-group">
                <label for="selMusculo" id="sr-only"></label>
                <select name="selector_musculos" class="form-control op" [(ngModel)]="planificador.musculo" placeholder="Seleccione el músculo que desea entrenar" id="selMusculo" required>
                    <option value="" selected="selected" disabled="disabled">Aquí seleccione el músculo que desea entrenar</option>
                    <option *ngFor="let musc of musculos | async" value='{{ musc.musculo }}'>{{ musc.musculo }}</option>
                </select>
              </div>
              <div class="form-group" style="margin-top: 3%;">
                <input type="submit" value="Buscar" class="Subm" id="submit-musc" name="submit-musc" style="display: block;margin: 0 auto;" [disabled]="!planificadorForm.form.valid">
              </div>
            </form>
          </div>
        </div>
        <section *ngIf="subm">
          <div id='h_text_musc'><p id='texto_musc_ejerc'>Ejercicios para entrenar {{ musculo_escogido }} </p></div>
          <div id='cont_Ejercicios'>
            <article class='ejercicio' *ngFor="let iteracion of ejerc_musc | async">
              <div class='image-wrap'>
                <img [src]="url+iteracion.imagen_ejerc" alt="{{iteracion.pkfk_ejercicio}}">
                  <!-- <img src='../../../assets/images/ejercicios/{{ iteracion.imagen_ejerc }}' alt='imagen ejercicio'> -->
              </div>
              <div class='ejercicio-info'>
                  <p class='ej-inf-p1'>{{ iteracion.pkfk_ejercicio }}</p>
                  <p class='ej-inf-p2' *ngIf="iteracion.pkfk_ejercicio == 'Leg-press'">
                    Sentad&#64; en el la silla de la prensa, con los pies planos en la plataforma y los hombros separados,
                    suelte el seguro manual y baje lentamente la carga llevando las rodillas hacia el pecho. Cuando las rodillas estén en un ángulo de 90°,
                    haga una pausa y luego suba lentamente el peso. Para proteger las rodillas, detenga el movimiento justo antes de que las piernas
                    estén completamente extendidas. Durante el movimiento, no levante los glúteos de la silla.
                  </p>
                  <p class='ej-inf-p2' *ngIf="iteracion.pkfk_ejercicio == 'Extension de pierna'">
                    Ajuste la máquina de extensión de piernas de manera que cuando se siente, sus rodillas estén al borde de la silla y sus tobillos estén debajo del reposapiés.
                    Siéntese con la espalda bien apoyada en el respaldo, sosteniendo los objetos que se encuentran a los lados de la silla con sus manos.
                    Luego, extienda las piernas hasta que estén completamente extendidas. Aguante la carga un momento contrayendo los cuádriceps, y luego vuelva a la posición baja.
                  </p>
                  <p class='ej-inf-p2' *ngIf="iteracion.pkfk_ejercicio == 'Sentadilla frontal'">
                    De pie con la barra apoyada sobre la parte superior del pecho y los deltoides. Agarre la barra con las manos para conseguir un buen apoyo. Mantenga la cabeza recta.
                    Doble las rodillas y las caderas como si estuviera sentad&#64;. Manteniendo la espalda recta, deje que los glúteos vayan hacia atrás,
                    lo que inclinará ligeramente el pecho hacia adelante para que el movimiento sea lo más natural posible.
                    En el momento en que sus muslos estén paralelos al suelo, muévase hacia arriba, haciendo el movimiento en la dirección opuesta.
                    Dada la complejidad de este movimiento, pida a un entrenador o instructor del gimnasio que le enseñe cómo realizarlo correctamente la primera vez.
                  </p>
                  <p class='ej-inf-p2' *ngIf="iteracion.pkfk_ejercicio == 'Sentadillas con salto'">
                    Párese derech&#64; con los pies en una postura amplia, fuera de las caderas. Manteniendo el pecho erguido, lleve las caderas hacia abajo y hacia atrás hasta justo por encima de las rodillas.
                    Suba con los brazos, moviéndolos hacia adelante, para impulsarse explosivamente del suelo. Aterrice con las rodillas suavemente y baje la espalda hasta la posición de sentadilla.
                    Evite que las rodillas se doblen hacia adentro en cualquier momento durante el movimiento.
                  </p>
                  <p class='ej-inf-p2' *ngIf="iteracion.pkfk_ejercicio == 'Peso muerto sumo con pesa rusa'">
                    Coloque la pesa rusa en el suelo directamente entre sus pies. Adopte una postura moderadamente amplia con los pies y apunte los dedos ligeramente hacia afuera.
                    Empuje las caderas hacia atrás y gire hacia adelante hasta que el torso quede paralelo al suelo. Bájese y agarre el mango de la pesa rusa.
                    Cierre las manos sobre el mango con un doble agarre por encima de la cabeza. Deje caer las caderas por debajo del nivel de los hombros y mantenga los brazos completamente extendidos desde la pesa rusa.
                    Empuje el suelo lejos de usted empujando todo el pie y extendiendo las rodillas y las caderas, levantando la pesa con usted.
                    Bloquee las caderas y luego baje el cuerpo y la pesa rusa empujando las caderas hacia atrás e inclinándose hacia adelante a la altura de la cadera. Devuelva la pesa rusa al suelo y luego recójala para repetir.
                  </p>
                  <p class='ej-inf-p2' *ngIf="iteracion.pkfk_ejercicio == 'Peso muerto con piernas estiradas usando mancuernas'">
                    Párese con los pies separados a la altura de los hombros y los dedos de los pies mirando hacia adelante.
                    Doble ligeramente las rodillas y saque el pecho. Sostenga una mancuerna en cada mano.
                    Manteniendo las piernas rígidas, inclínese hacia adelante y baje las pesas hacia el suelo. Haga una pausa cuando sus isquiotibiales estén tensos y luego regrese a la posición inicial.
                    Mantenga la espalda recta y los hombros hacia atrás en todo momento.
                  </p>
                  <p class='ej-inf-p2' *ngIf="iteracion.pkfk_ejercicio == 'Balanceo de pesa'">
                    Agarre la pesa rusa con un doble agarre por encima de la cabeza. Póngase de pie con los brazos extendidos y sueltos.
                    Suavice las rodillas para bajar los glúteos hacia atrás y hacia abajo, mientras traslada el peso a los talones. Con los talones impulse las caderas hacia adelante para así mover la pesa hacia arriba.
                    Balancee la pesa hasta aproximadamente la altura del pecho con los brazos extendidos. Deje que la pesa vuelva a caer para prepararse para la siguiente repetición.
                    Apoye su cuerpo para atrapar el peso en la posición inferior, permitiéndole balancearse entre sus piernas y luego repita el movimiento de balanceo hacia adelante.
                  </p>
                  <p class='ej-inf-p2' *ngIf="iteracion.pkfk_ejercicio == 'Estocadas'">
                    De pie con las piernas separadas a la altura de las caderas y una mancuerna en cada mano, manteniendo el pecho recto, dé un paso hacia adelante y descienda lentamente hasta que el muslo delantero quede paralelo al suelo.
                    Luego regrese a la posición original. Una vez que haya completado su serie, haga lo mismo con la otra pierna.
                  </p>
                  <p class='ej-inf-p2' *ngIf="iteracion.pkfk_ejercicio == 'Copa Tríceps'">
                    Sentad&#64; en una silla, con la espalda recta, agarrando una mancuerna con ambas manos, las palmas de las manos en el interior de un disco,
                    coloque la mancuerna sobre la cabeza, con los brazos extendidos y los tríceps bien contraídos. Baje los antebrazos por detrás de la cabeza hasta que los codos formen un ángulo de 90°.
                    Luego extienda los antebrazos, volviendo a la posición inicial.
                  </p>
                  <p class='ej-inf-p2' *ngIf="iteracion.pkfk_ejercicio == 'Rompecraneos'">
                    Acostad&#64; en la silla, con los pies en el suelo o en el la silla, sostenga la barra sobre su pecho, agarre en posición de pronación,
                    las manos ligeramente más cerradas que el ancho de los hombros. Posteriormente, flexione lentamente los antebrazos sin separar demasiado los codos,
                    llevando la barra a la parte superior de la cabeza. Luego vuelva a la posición inicial y repita el proceso.
                  </p>
                  <p class='ej-inf-p2' *ngIf="iteracion.pkfk_ejercicio == 'Tríceps en polea alta'">
                    De pie frente a la polea, agarrando la barra con un agarre en pronación, con las manos separadas a la altura de los hombros.
                    Realice una extensión de los antebrazos hasta que sus brazos estén completamente extendidos.
                    En esta posición, contraiga sus tríceps por un momento y luego regrese lentamente a la posición inicial. Mantenga los codos cerca del cuerpo durante todo el movimiento.
                  </p>                  
                  <p class='ej-inf-p2' *ngIf="iteracion.pkfk_ejercicio == 'Press cerrado con barra'">
                    Tumbad&#64; en el banco, con los pies apoyados en el suelo. Sujete la barra con un agarre en pronación, con las manos ligeramente más apretadas que el ancho de los hombros.
                    Desenganche la barra y bájela lentamente hasta la parte inferior de su pecho. Luego empuje la carga hacia arriba hasta que sus brazos queden rectos.
                    Durante todo el movimiento mantenga los codos presionados contra el cuerpo para ejercer la máxima tensión sobre los tríceps y proteger la articulación del codo, así como debe tener en cuenta mantener los hombros apoyados contra el banco.
                  </p>
                  <p class='ej-inf-p2' *ngIf="iteracion.pkfk_ejercicio == 'Contragolpe'">
                    Coloque la rodilla izquierda y la mano izquierda sobre un banco, con el pecho paralelo al suelo. Mantenga el pie derecho en el suelo y agarre la mancuerna con la mano derecha.
                    Manteniéndolo cerca de su cuerpo, levante la parte superior de su brazo derecho hasta que quede paralelo al suelo.
                    Realice una extensión del brazo derecho. Cuando esté completamente extendido, contraiga su tríceps por un momento antes de volver a la posición inicial.
                    Una vez que haya completado su serie, haga lo mismo con el otro brazo.
                  </p>
                  <p class='ej-inf-p2' *ngIf="iteracion.pkfk_ejercicio == 'Extensión de tríceps con cable de un solo brazo'">
                    Párese frente a la máquina de cable y agarre el mango con un agarre por encima de la cabeza (en pronación, con la palma hacia abajo), con los codos doblados hacia adentro y doblados en un ángulo un poco menor a 90°.
                    Extienda los antebrazos hasta que su brazo esté completamente estirado. En esta posición, apriete los tríceps, haga una pausa y luego regrese lentamente a la posición inicial.
                    Mantenga los codos doblados durante todo el movimiento. Repita para las repeticiones deseadas y luego repita para el otro brazo.
                  </p>
                  <p class='ej-inf-p2' *ngIf="iteracion.pkfk_ejercicio == 'Curl con mancuernas'">
                    De pie, con las rodillas ligeramente dobladas y la espalda recta. Sujete una mancuerna en cada mano, en un agarre neutral a lo largo del cuerpo.
                    Sin mover el pecho, eleve la mancuerna doblando los antebrazos. Mantenga su mano en un agarre neutral.
                    Contraiga los bíceps, y luego vuelva lentamente a la posición inicial. Mantenga el codo cerca del cuerpo durante el movimiento.
                    Alterne el movimiento realizándolo con un brazo y luego con el otro.
                  </p>
                  <p class='ej-inf-p2' *ngIf="iteracion.pkfk_ejercicio == 'Dominadas'">
                    Agarre la barra con un agarre en pronación, con la cabeza ligeramente levantada, las manos separadas a una distancia superior a la de los hombros y los codos ligeramente doblados.
                    Realice un movimiento de elevación llevando la barbilla hacia la barra. Luego, vuelva lentamente a la posición inicial.
                  </p>
                  <p class='ej-inf-p2' *ngIf="iteracion.pkfk_ejercicio == 'Curl con barra'">
                    De pie con las rodillas ligeramente flexionadas y la espalda recta. Sostenga la barra con las manos en supinación, aproximadamente a la altura de los hombros.
                    Sin realizar ningún movimiento de busto, suba la barra doblando los antebrazos. Contraiga sus bíceps en la posición alta, luego deje que la barra baje lentamente hasta la posición inicial.
                    Mantenga los codos cerca del cuerpo durante el movimiento.
                  </p>
                  <p class='ej-inf-p2' *ngIf="iteracion.pkfk_ejercicio == 'Curl con barra Z en banco Scott'">
                    Sentad&#64; o de pie, ajuste el reposabrazos "Larry Scott" para que quede ligeramente por debajo del nivel de sus hombros.
                    Apoye la parte superior de los brazos sobre el reposabrazos y agarre la barra Z con las manos en supinación.
                    Doble lentamente los antebrazos hacia los hombros mientras mantiene la parte superior de los brazos presionada contra el reposabrazos.
                    Contraiga sus bíceps en la posición hacia arriba, luego regrese lentamente a la posición inicial.
                    Tenga cuidado de no extender completamente los antebrazos en la posición baja para evitar ejercer demasiada presión sobre la articulación del codo.
                  </p>
                  <p class='ej-inf-p2' *ngIf="iteracion.pkfk_ejercicio == 'Curl inclinado con mancuernas'">
                    Sentad&#64; en un banco con el respaldo inclinado en un ángulo de 40 a 60 grados, deje que sus brazos cuelguen hacia el suelo. Sostenga una mancuerna en cada mano en supinación.
                    Manteniendo la espalda bien apoyada en el respaldo, levante una mancuerna doblando el antebrazo hacia el hombro. Contraiga sus bíceps en la posición alta, luego regrese lentamente a la posición inicial.
                    Mantenga el codo cerca de su cuerpo durante el movimiento. Alterne este movimiento un brazo tras otro.
                  </p>
                  <p class='ej-inf-p2' *ngIf="iteracion.pkfk_ejercicio == 'Curl de cable de polea baja con barra'">
                    Párese frente a la máquina de cable, con las piernas separadas al ancho de los hombros, y agarre la barra con un agarre por debajo (supinado) y con las manos separadas aproximadamente al ancho de los hombros.
                    Manteniendo el cuerpo fijo, el codo pegado al costado y los ojos mirando hacia adelante, levante lentamente el peso lo más que pueda sin dejar que el codo se mueva hacia adelante excesivamente; Sólo sus antebrazos deben moverse.
                    Apriete los bíceps en la parte superior del movimiento y luego baje lentamente el peso hasta la posición inicial. Repita para las repeticiones deseadas.
                  </p>
                  <p class='ej-inf-p2' *ngIf="iteracion.pkfk_ejercicio == 'Puente isometrico'">
                    Acuéstese boca arriba sobre la colchoneta. Doble las rodillas y lleve los pies hacia usted, déjelos de forma plana en el suelo. Extienda los brazos a los costados con las palmas hacia abajo.
                    Luego, apoyándose con los talones, levante las caderas del suelo hasta que las rodillas, las caderas y los hombros formen una línea recta. Apriete sus glúteos y mantenga su núcleo reforzado. Haga una pausa y luego baje las caderas a la posición inicial.
                  </p>
                  <p class='ej-inf-p2' *ngIf="iteracion.pkfk_ejercicio == 'Curl nordico'">
                    Acuéstese boca abajo en la máquina de 'curl de piernas tumbado o acostado' con la parte trasera de los tobillos presionando el reposapiés. Agarre los reposamanos.
                    Posteriormente, apoyad&#64; firmemente en la silla, flexione las piernas lo máximo posible. Mantenga la carga por un momento en la posición alta contrayendo los músculos isquiotibiales, luego vuelva lentamente a la posición inicial.
                  </p>
                  <p class='ej-inf-p2' *ngIf="iteracion.pkfk_ejercicio == 'Sentadillas con peso corporal'">
                    Párese erguid&#64; con los pies ligeramente más separados que el ancho de las caderas.
                    Manteniendo el pecho erguido y la espalda recta, refuerce el núcleo mientras empuja las caderas hacia atrás hasta quedar sentad&#64;. Baje hasta que sus muslos queden paralelos o casi paralelos al suelo.
                    Haga una pausa y luego empújese hacia arriba con todo el pie hasta la mitad de la posición inicial. Haga una pausa y vuelva a bajar hasta quedar en paralelo.
                    Haga una pausa más en la parte inferior antes de volver a subir a la posición inicial. Evite que sus rodillas se doblen en cualquier momento durante el movimiento.
                  </p>
                  <p class='ej-inf-p2' *ngIf="iteracion.pkfk_ejercicio == 'Puente con una sola pierna'">
                    Acuéstese boca arriba sobre la colchoneta. Doble las rodillas y lleve los pies hacia usted, plántelos en el suelo. Extienda los brazos rectos a los costados con las palmas hacia abajo.
                    Levante una pierna y extiéndala recta para que ambos muslos queden paralelos entre sí. Luego, levante las caderas del suelo, apriete sus glúteos y mantenga su pecho reforzado.
                    Haga una pausa y luego baje las caderas hasta la posición inicial mientras mantiene extendida la pierna levantada. Repita con la pierna opuesta.
                  </p>
                  <p class='ej-inf-p2' *ngIf="iteracion.pkfk_ejercicio == 'Curl de piernas sentado'">
                    Ajuste la máquina de flexión de piernas para sentarse de modo que cuando esté sentad&#64;, la parte inferior de las rodillas quede en el borde del banco y la parte posterior de los tobillos quede justo más allá del reposapiés.
                    Siéntese con la espalda firmemente apoyada en el respaldo, agarrando las asas de los laterales.
                    Doble las piernas lo más que pueda. Mantenga la carga por un momento en esta posición contrayendo los músculos isquiáticos y luego regrese a la posición inicial.
                  </p>
                  <p class='ej-inf-p2' *ngIf="iteracion.pkfk_ejercicio == 'Jalon al pecho'">
                    Sentad&#64;, con los muslos bajo las partes acolchadas, la barra agarrada en supinación, manos separadas a la anchura de los hombros. Manteniendo la espalda recta.
                    Tire de la barra hasta la parte superior del pecho. Mantenga la contracción por un momento, los hombros bien atrás antes de volver lentamente a la posición inicial.
                  </p>
                  <p class='ej-inf-p2' *ngIf="iteracion.pkfk_ejercicio == 'Remo brazo'">
                    Coloque su rodilla izquierda y mano izquierda en una silla, con el pecho paralelo al suelo. Mantenga el pie derecho en el suelo y agarre la mancuerna con la mano derecha. Manteniéndola cerca de su cuerpo, levante la parte superior de su brazo derecho hasta que esté paralelo al suelo.
                    Realice una extensión del brazo derecho. Cuando esté completamente extendido, contraiga su trícep por un momento antes de volver a la posición inicial. Una vez que haya completado su serie, haga lo mismo con el otro brazo.
                  </p>
                  <p class='ej-inf-p2' *ngIf="iteracion.pkfk_ejercicio == 'Remo con barra'">
                    De pie con las rodillas ligeramente flexionadas, agarrando la barra con las manos en pronación, agarre más ancho que el ancho de los hombros. Busto inclinado hacia adelante, mantener la espalda recta y el pecho redondeado.
                    Tire la carga hacia su abdomen. Tense la espalda al final del movimiento, hombros y codos hacia atrás. Luego regrese lentamente a la posición inicial.
                  </p>
                  <p class='ej-inf-p2' *ngIf="iteracion.pkfk_ejercicio == 'Peso muerto con barra'">
                    Inicie colocando la barra en el suelo frente a usted. Pies un poco menos abiertos que el ancho de los hombros con las rodillas dobladas.
                    Con los brazos completamente extendidos, agarre la barra en pronación, con las manos separadas a la altura de los hombros.
                    Mantenga el torso ligeramente inclinado hacia adelante, la espalda recta, los hombros hacia atrás y el pecho hacia afuera. Inhale y contraiga los músculos abdominales.
                    Mientras mantiene los brazos rectos, levante la barra extendiendo las piernas y estirando el torso hasta alcanzar una posición vertical. Exhale al final del movimiento.
                    Luego regrese lentamente a la posición inicial. Recuerde siempre nunca doblar la espalda.
                  </p>
                  <p class='ej-inf-p2' *ngIf="iteracion.pkfk_ejercicio == 'Jalón lateral con brazo recto'">
                    De pie, frente a la máquina de cable de polea alta, con las rodillas ligeramente flexionadas, el torso inclinado, la espalda recta y el pecho abultado.
                    Sujete la barra con un agarre por encima de la cabeza (en pronación, con las palmas hacia abajo) y con el codo ligeramente doblado.
                    Tire de la barra hacia sus caderas mientras hace un arco. Contraiga los dorsales apretando los omóplatos y luego regrese lentamente a la posición inicial.
                  </p>
                  <p class='ej-inf-p2' *ngIf="iteracion.pkfk_ejercicio == 'Remo inclinado con mancuernas'">
                    De pie, con las rodillas ligeramente flexionadas. Sujete las mancuernas con un agarre neutral (las palmas una frente a la otra).
                    Inclínese hacia adelante manteniendo la espalda recta y el pecho abultado.
                    Tire las mancuernas hacia sus caderas. Apriete la espalda en la parte superior del movimiento, llevando los hombros y los codos detrás del cuerpo.
                    Luego, regrese lentamente a la posición inicial. Mantenga los codos doblados durante todo el movimiento.
                  </p>
                  <p class='ej-inf-p2' *ngIf="iteracion.pkfk_ejercicio == 'Peso muerto sumo con barra'">
                    Con la barra colocada en el suelo frente a usted, las piernas separadas y pies apuntando hacia afuera mientras permanece alinead&#64; con las rodillas.
                    Piernas flexionadas, muslos casi horizontales (según su morfología). Agarre la barra en pronación, con las manos separadas a la altura de los hombros.
                    Torso ligeramente inclinado hacia adelante, espalda recta, hombros hacia atrás y pecho hacia afuera. Inhale y contraiga los músculos abdominales.
                    Mientras mantiene los brazos rectos, levante la barra extendiendo las piernas y estirando el torso hasta alcanzar una posición vertical.
                    Exhale al final del movimiento. Luego regrese lentamente a la posición inicial. Recuerde siempre nunca doblar la espalda.
                  </p>
                  <p class='ej-inf-p2' *ngIf="iteracion.pkfk_ejercicio == 'Barra de press de banca'">
                    Tumbad&#64; en el banco, con los pies apoyados en el suelo. Sujete la barra con un agarre más ancho que el ancho de los hombros. Sus antebrazos deben estar perpendiculares al suelo.
                    Desenganche la barra y bájela lentamente hasta la parte inferior de su pecho. Mientras contrae los pectorales, empuje la carga hacia arriba hasta que sus brazos estén casi rectos.
                    Tenga en cuenta durante todo el movimiento mantener los codos hacia afuera para ejercer la máxima tensión en el pecho y la mínima en los deltoides anteriores y los tríceps,
                    además, matenga los hombros apoyados contra el banco.
                  </p>
                  <p class='ej-inf-p2' *ngIf="iteracion.pkfk_ejercicio == 'Press de banca inclinado con mancuernas'">
                    Tumbad&#64; en el banco inclinado, con los pies apoyados en el suelo, una mancuerna en cada mano, agarre en pronación.
                    Sostenga las mancuernas a los costados a la altura del pecho. Sus antebrazos deben estar perpendiculares al suelo.
                    Mientras contrae los pectorales, empuje la carga hacia arriba hasta que sus brazos queden casi rectos, luego regrese a la posición inicial.
                    Tenga en cuenta durante todo el movimiento mantener los codos hacia afuera para ejercer la máxima tensión en los pectorales y la mínima tensión en los deltoides anteriores y los tríceps,
                    ademas, mantenga los hombros apoyados contra el banco.
                  </p>
                  <p class='ej-inf-p2' *ngIf="iteracion.pkfk_ejercicio == 'Contractora'">
                    Sentad&#64; en la máquina "Peck deck" con la espalda apoyada contra el respaldo y los antebrazos bien apoyados en las piezas acolchadas previstas para ello,
                    además de tener la parte superior de sus brazos paralela al suelo y alineada con sus hombros,
                    apriete los brazos tanto como sea posible siguiendo el movimiento de la máquina. Apriete el pecho al final del movimiento y luego regrese lentamente a la posición inicial.
                  </p>
                  <p class='ej-inf-p2' *ngIf="iteracion.pkfk_ejercicio == 'Cruce de cables'">
                    Sujete las manijas unidas a los extremos de cada cuerda y párese en el medio entre las poleas. Doble el pecho ligeramente hacia adelante y mantenga los codos ligeramente doblados.
                    Apriete lentamente los brazos frente a su pecho formando un arco. Mantenga los codos ligeramente doblados durante el movimiento.
                    Cuando sus manos se junten, mantenga la posición por un momento, contrayendo su pecho. Luego regrese lentamente a la posición original.
                  </p>
                  <p class='ej-inf-p2' *ngIf="iteracion.pkfk_ejercicio == 'Press de banca con mancuernas'">
                    Tumbad&#64; en el banco, con los pies apoyados en el suelo, una mancuerna en cada mano, agarre en pronación. Sostenga las mancuernas a los costados a la altura del pecho.
                    Sus antebrazos deben estar perpendiculares al suelo. Contrayendo los pectorales, empuje la carga hacia arriba hasta que los brazos estén casi extendidos, luego regrese a la posición inicial.
                    Tenga en cuenta durante todo el movimiento mantener los codos hacia afuera para ejercer la máxima tensión en los pectorales y la mínima tensión en los deltoides anteriores y los tríceps,
                    ademas, mantenga los hombros apoyados contra el banco.
                  </p>
                  <p class='ej-inf-p2' *ngIf="iteracion.pkfk_ejercicio == 'Aperturas con mancuernas'">
                    Tumbad&#64; en el banco, con los pies apoyados en el suelo, una mancuerna en cada mano. Sostenga las pesas con un agarre neutral, con los brazos extendidos sobre el pecho.
                    Baje lentamente las mancuernas hacia los lados formando un arco con los brazos hasta sentir un estiramiento en los pectorales. No baje del nivel de los hombros.
                    Luego regrese a la posición original, realizando el mismo arco. Tenga en cuenta durante todo el movimiento mantener los codos apuntando hacia afuera y ligeramente doblados para reducir la tensión en la articulación,
                    además, mantenga los hombros apoyados contra el banco.
                  </p>
              </div>
            </article>
          </div>
        </section>
      </div>
    </section>
    <app-footer></app-footer>
</body>
</html>
